<mat-toolbar>
  <div class="container">
    <span class="title">validador C++</span>
  </div>
</mat-toolbar>

<div class="container margin-top">
  <div class="grapper">
    <as-split direction="horizontal">
      <as-split-area [size]="60" [minSize]="50">
        <form
          class="form"
          [formGroup]="formValidator"
          (ngSubmit)="submitValidator()"
        >
          <textarea
            id="textArea"
            [(ngModel)]="code"
            (ngModelChange)="onChange($event)"
            formControlName="validator"
            class="text-area"
            placeholder="digite el codigo c++"
            spellcheck="false"
          ></textarea>

          <button
            type="submit"
            class="button"
            mat-raised-button
            color="primary"
          >
            validar
          </button>
        </form>
      </as-split-area>
      <as-split-area [size]="40" [minSize]="30">
        <div class="result" #result></div>
        <div class="error" #error></div>
      </as-split-area>
    </as-split>
  </div>
</div>
